{% extends 'base.html.twig' %}
{% block body %}
    {% for order in orders %}
    <div class="row">
        <span>{{ order.name }}</span> <span>{{ order.manager.lastName }}</span> <span>{{ order.manager.firstName }}</span>
    </div>
    {% endfor %}
<div class="row">
    {{ pagerfanta(pager) }}
</div>
{% endblock %}